body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-image: url('../ImagesJJ/cafePhotos/cafelayout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Header/Nav Bar */
header {
    margin: auto;
    display: flex;
    z-index: 1;
    justify-content: center;
}

nav {
    position: relative;
    top: 2px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: black;
    height: 80px;
    align-items: center;
}

#logo {
    padding-left: 30px;
}


#logo img {
    width: 80px;
    height: 80px;
    position: relative;
    top: 2px;
}

#nav ul {
    display: flex;
    justify-content: right;
    list-style: none;

}

#nav ul li {
    padding-right: 40px;
}

#nav button {
    background-color: transparent;
    border: none;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 525;
}

#nav a:hover {
    color: rgb(96, 177, 96);
}

/* Main */

section {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: whitesmoke;
    background-color: rgba(9, 5, 1, 0.75);
    border: double 16px rgb(47, 30, 5);
}

h3 {
    font-size: 40px;
    margin: 10px;
    text-decoration: underline;
    ;
}

div#cart {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: whitesmoke;
}

div#purchasebutton {
    align-self: flex-end;
    margin-right: 10%;
}

#purchasebutton button {
    padding: 10px 15px;
    background-color: rgb(96, 177, 96);
    border: 3px solid black;
    border-radius: 8px;
    font-size: 15px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    width: 95%;
    padding: 10px;
    margin: 40px auto 0;
}

#footerContents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer h4{
    font-weight: 600;
    text-decoration: underline;
}

div.leftfooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 7%;
}

div.rightfooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer img {
    height: 100px;
    width: 100px;
}

#cartItems {

    padding: 5px;
}

#cartItems li {
    margin: 5px;
    background-color: #2f1e058a;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    list-style: none;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}

#total {
    margin: 10px;
    background-color: #2f1e058a;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    list-style: none;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}