body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-image: url('../ImagesJJ/cafePhotos/interiorchair.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Header/Nav Bar */
header {
    margin: auto;
    display: flex;
    z-index: 1;
    justify-content: center;
}

nav {
    position: relative;
    top: 2px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: black;
    height: 80px;
    align-items: center;
}

#logo {
    padding-left: 30px;
}


#logo img {
    width: 80px;
    height: 80px;
    position: relative;
    top: 2px;
}

#nav ul {
    display: flex;
    justify-content: right;
    list-style: none;

}

#nav ul li {
    padding-right: 40px;
}

#nav button {
    background-color: transparent;
    border: none;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 525;
}

#nav a:hover {
    color: rgb(96, 177, 96);
}

/* Main/Form Submission */
main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main img {
    margin-top: 30px;
    border-radius: 35%;
    opacity: 90%;
}

form h3 {
    margin: 10px;
    text-decoration: underline;
}

fieldset {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: white;
    background-color: rgba(9, 5, 1, 0.75);
    border: double 16px rgb(47, 30, 5);
}

legend {
    font-size: 20px;
}

div#formnamesdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#formnamesdiv label {
    font-size: 20px;
}

#formnamesdiv input {
    padding: 5px;
    font-size: 15px;
}

div#ingredientsdiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 15px;
}

div#ingredientscolumn1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5px;
}

div#ingredientscolumn2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: rgb(96, 177, 96);
    ;
}

button:hover {
    padding: 12px;
    cursor: pointer;
    margin-top: 6px;
}

button:active {
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

section {
    margin: 30px 0;
    min-width: 50%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: white;
    background-color: rgba(9, 5, 1, 0.75);
    border: double 16px rgb(47, 30, 5);
}

section h3 {
    margin: 10px 50px;
    align-self: flex-start;
    font-size: 30px;
}

section p {
    margin: 10px 50px;
    align-self: flex-end;
    font-size: 18px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    width: 95%;
    padding: 10px;
    margin: 40px auto 0;
}

#footerContents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer h4{
    font-weight: 600;
    text-decoration: underline;
}

div.leftfooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 7%;
}

div.rightfooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer img {
    height: 100px;
    width: 100px;
}