#body {
   margin: 0px;
   font-family: 'Roboto', sans-serif;
}

#featured {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 30px;
}

#featured h1 {
   font-size: 32px;
}


header {
   display: flex;
   z-index: 1;
   justify-content: center;
}

header button {
   font-size: 1.2rem;
   font-weight: 525;
}

header button:hover {
   color: rgb(96, 177, 96);
}

nav {
   display: flex;
   justify-content: space-between;
   width: 95%;
}

#logo {
   padding-top: 15px;
   height: 80px;
   width: 80px;
   position: relative
}

#nav ul {
   display: flex;
   justify-content: right;
   list-style: none;
}

#nav ul li {
   padding-right: 40px;
   width: auto;
   height: 25px;
}

#hero-section {
   background-image:url("../ImagesJJ/cafePhotos/juicelounge.jpg");
   background-repeat: no-repeat;
   background-position: 25% 50%;
   background-size: cover;
   width: 100%;
   height: 450px;
   z-index: -1;
   margin-top: -95px;
   display: flex;
   align-items: flex-end;

}

#hero-section button {
   margin: 30px;
   background-color: transparent;
   color: white;
   font-size: 1.2rem;
   font-weight: 525;
}

#hero-section button:hover {
   color: rgb(235, 147, 76);
}

#images {
   display: flex;
   padding: 0px 30px;
   gap: 100px;
}

#images img {
   width: 300px;
   height: 400px;
}


/* Footer */
footer {
   background-color: black;
   color: white;
   width: 95%;
   padding: 10px;
   margin: 40px auto 0;
}

#footerContents {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

footer h4{
   font-weight: 600;
   text-decoration: underline;
}

div.leftfooter{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding-right: 7%;
}

div.rightfooter{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

footer img {
   height: 100px;
   width: 100px;
}

button {
   background-color: transparent;
   color: white;
   border-style: none;
}

#images div p {
   z-index: -1;
}

/* #images div:hover {
   background-color: aliceblue;
   opacity: 25%; */

/* } */

#images {
   position: relative;
}

#img1_overlay {
   position: absolute;
   top: 0;
   left: 30px;
   width: 300px;
   height: 400px;
   background: rgba(0, 0, 0, 0.6);
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   opacity: 0;
   transition: opacity 0.25s;

}

#img1_overlay:hover {
   opacity: 1;
}

#img1_overlay div h3 {
   font-size: 1.5em;
   font-weight: bold;
}

#img2_overlay {
   position: absolute;
   top: 0;
   left: 430px;
   width: 300px;
   height: 400px;
   background: rgba(0, 0, 0, 0.6);
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   opacity: 0;
   transition: opacity 0.25s;
}

#img2_overlay:hover {
   opacity: 1;
}

#img2_overlay div h3 {
   font-size: 1.5em;
   font-weight: bold;
}

#img3_overlay {
   position: absolute;
   top: 0;
   left: 830px;
   width: 300px;
   height: 400px;
   background: rgba(0, 0, 0, 0.6);
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   opacity: 0;
   transition: opacity 0.25s;
}

#img3_overlay:hover {
   opacity: 1;
}

#img3_overlay div h3 {
   font-size: 1.5em;
   font-weight: bold;
}

#images ul {
   font-size: 1.5rem;
   list-style: none;
}

#description ul {
   font-size: 2rem;
   list-style: none;
}

#cart-div button {
   padding-top: 15px;
   font-size: 2rem;
}

#cart-div {
   transition: all;
}

#cart-div button:hover {
   color: rgb(96, 177, 96);
}

#cart-div p {
   display: none;
}

