#body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin: auto;
    display: flex;
    z-index: 1;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: black;
}

#logo {
    padding-left: 30px;
    padding-top: 15px;
}

#nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

#nav ul li {
    padding-right: 40px;
}

main{
    margin: auto;
}

h2 {
    margin: 30px auto;
    text-align: center;
    font-size: 40px;
    border: solid 2px black;
    border-radius: 10px;
    width: 250px;
    padding: 8px;
}

#images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

p{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    margin: 30px auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}