#body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin: auto;
    display: flex;
    z-index: 1;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: black;
}

#logo {
    padding-left: 30px;
    padding-top: 15px;
}

#nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

#nav ul li {
    padding-right: 40px;
}

main{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    width: 300px; 
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    font-size: 40px;
}

h3{
    margin: 10px;
    border: solid 2px black;
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}